
<section class="text-center">
   <!-- Background image -->
   <div class="p-5 bg-image" style="
   background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
   height: 300px;
   "></div>
<!-- Background image -->
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
       <h2 class="fw-bold mb-5">Hospital Information Management System </h2>
       <h1 class="fw-bold mb-5"> <i class="uil uil-lock"></i> Login </h1>
          <form [formGroup]="login.LoginForm">
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Username</label>
              <input type="email" id="form3Example3" class="form-control" formControlName="Username" placeholder="Username or Email Address" />
              <small class="error" *ngIf="login.LoginForm.get('Username')!.invalid 
                && login.LoginForm.get('Username')!.touched" class="text-danger">Username is required</small>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" id="form3Example4" class="form-control" formControlName="Password" placeholder=" Password"/>
              <!-- <small class="error" *ngIf="login.LoginForm.get('Password')!.invalid 
                && login.LoginForm.get('Password')!.touched" class="text-danger"> Invalid Credentials</small> -->
            </div>
            <button  class="btn btn-primary btn-block mb-4"  (click)="doLogin()">
              Login
            </button>
            <div class="text-center">
              <p></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>